CHROME_EXTENSION_KEY=<base64 SPKI printed by `pnpm keygen:chrome`>
CHROME_CRX_PRIVATE_KEY_PATH=<absolute path to keys/chrome.pem>

# Get from https://addons.mozilla.org/developers/addon/api/key/
AMO_JWT_ISSUER=user:00000000:0
AMO_JWT_SECRET=<64-char hex>
