{
  "parserOptions": {
    "sourceType": "module",
    "ecmaVersion": 2021
  },
  "plugins": ["prettier", "svelte3", "@typescript-eslint"],
  "rules": {
    "arrow-parens": ["warn", "as-needed"],
    "prettier/prettier": "warn",
    "@typescript-eslint/no-empty-function": "off",
    "no-async-promise-executor": "off",
    "prefer-const": "warn",
    "no-debugger": "off"
  },
  "overrides": [
    {
      "files": ["*.svelte"],
      "processor": "svelte3/svelte3"
    }
  ],
  "env": {
    "es6": true,
    "browser": true,
    "node": true
  },
  "extends": [
    "plugin:prettier/recommended",
    "eslint:recommended",
    "plugin:@typescript-eslint/eslint-recommended",
    "plugin:@typescript-eslint/recommended"
  ]
}
