.ytLockupMetadataViewModelHost:has([data-ytdl-grid-item]) {
  padding-inline-end: 30px;
}

.ytLockupMetadataViewModelHost:has([data-ytdl-grid-item]) .ytLockupMetadataViewModelTextContainer {
  flex: 1 1 0;
}

.ytLockupMetadataViewModelHost:has([data-ytdl-grid-item]) [data-ytdl-grid-item] {
  margin-block-start: -6px;
}

ytd-menu-renderer.ytd-playlist-video-renderer:has([data-ytdl-item]) {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.ytdl-download-iframe {
  position: fixed;
  top: -100px;
  left: -100px;
  width: 1px;
  height: 1px;
  opacity: 0%;
  pointer-events: none;
}
