/* YouTube-like tooltip */

:root {
  --yt-downloader-icon-color: rgb(144, 144, 144);
  --yt-tooltip-visible: var(--yt-tooltip-visible, 0.8);
  --tooltip-pos-y: 160%;
  --tooltip-pos-x: -50%;
  --move-tooltip-y: 50px;
}

[data-yt-downloader-tooltip] {
  position: relative;

  &::before {
    pointer-events: none;
    position: absolute;
    content: attr(data-yt-downloader-tooltip);
    opacity: 0;
    transition: opacity 0.15s;

    background-color: var(--paper-tooltip-background, rgb(89, 89, 89));
    color: rgba(white, 0.8);
    margin: var(--paper-tooltip_-_margin);
    font-size: var(--paper-tooltip_-_font-size, 10px);
    font-weight: var(--paper-tooltip_-_font-weight);
    font-family: var(--paper-font-common-base_-_font-family);
    padding: 11px 9px;
    border-radius: 2px;
    width: max-content;
    transform: translate(-25%, var(--move-tooltip-y));
  }

  &:hover::before {
    opacity: var(--yt-tooltip-visible);
  }
}

/* Styling simple download button (appears right before the rating buttons) */
[data-yt-downloader-action] {
  border: 0;
  background: transparent;
  font-family: inherit;
}

[data-yt-downloader-action="download-video-simple"] {
  margin: 0 8px 0 15px;
  display: flex;
  align-items: center;
  position: relative;

  .ytd-button-renderer {
    transform: translateY(-2px);
    display: flex;
    align-items: center;
    gap: 10px;
  }

  :not([data-yt-downloader-category="Music"])[data-yt-downloader-tooltip]::before {
    content: "Download in " attr(data-yt-downloader-current-quality)
      attr(data-yt-downloader-projection-mode);
  }
}

/* Handling progress bar below the Download button */
.yt-downloader-progress {
  position: absolute;
  bottom: -6px;
  height: 8px;
  opacity: 0;
  transition: opacity 0.5s;
  //noinspection CssInvalidPropertyValue
  max-width: -webkit-fill-available;

  /* It will appear once the downloaded button was clicked */
  &[data-yt-downloader-in-progress="true"] {
    opacity: var(--yt-tooltip-visible);

    &:not([value])::before {
      opacity: 0;
    }

    /* and the progress will change according to the FFmpeg job */
    &[data-yt-downloader-tooltip="{data-value}"]::before {
      transform: translate(-50%, var(--move-tooltip-y));
      content: attr(value) "%";
    }
  }
}

/* Download icon handling */
.yt-downloader-icon svg {
  fill: var(--yt-downloader-icon-color);
}

/* Download label handling */
.yt-downloader-text {
  text-transform: uppercase;

  /* noinspection CssUnresolvedCustomProperty */
  font-size: var(--ytd-tab-system_-_font-size);

  /* noinspection CssUnresolvedCustomProperty */
  font-weight: var(--ytd-tab-system_-_font-weight);

  /* noinspection CssUnresolvedCustomProperty */
  letter-spacing: var(--ytd-tab-system_-_letter-spacing);
}

.yt-downloader-color {
  /* noinspection CssUnresolvedCustomProperty */
  color: var(--yt-spec-text-secondary);
}

/* Handling undownloadable videos and videos that temporarily cannot be downloaded */
[data-yt-downloader-undownloadable],
[data-yt-downloader-action][disabled] {
  --yt-downloader-icon-color: hsl(0, 0%, 69%);
  --yt-spec-text-secondary: var(--yt-downloader-icon-color);
  cursor: not-allowed;

  [data-yt-downloader-tooltip]::before {
    content: attr(data-yt-downloader-tooltip);
  }

  a {
    cursor: not-allowed;

    &:hover::before {
      opacity: 0;
    }
  }
}
